extends layout

block content
    h1= title

    - let figId = toShow._id
    - let figName = toShow.name
    - let figSize = toShow.size
    - let figAge = toShow.age
    - let isPoisonous = toShow.is_poisonous

    div.row(class="mb-2")
        div.mr-1 ID is
        div #{figId}
        - let actionId = "/resource/fig/" + figId

    form(id="FigForm", action=actionId, method="PUT")
        div.form-group
            label.figAttribute(for="fig_name") Fig Name
            input#fig_name(type="text", name="name", value=figName)
        div.form-group
            label.figAttribute(for="fig_size") Fig Size
            input#fig_size(type="text", name="size", value=figSize)
        div.form-group
            label.figAttribute(for="fig_age") Fig Age
            input#fig_age(type="text", name="age", value=figAge)
        div.form-group
            label.figAttribute(for="fig_poisonous") Fig Poison Value
            input#fig_poisonous(type="text", name="is_poisonous", value=isPoisonous.toString())
        input(type="submit")

    script.
        document.forms['FigForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted 
            fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends 
            }).then((body) => {
                alert("Save succeded")
                // TODO handle body 
            }).catch((error) => {
                // TODO handle error
                alert("Save failed " + error ) 
            });
        });